# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

jobs:
 - job: Windows_32_Bit
   pool:
    vmImage: 'vs2017-win2016'

   steps:
    - powershell: |
        mkdir build
        $ProgressPreference = 'SilentlyContinue'
        wget "https://download.java.net/java/ga/jdk11/openjdk-11_windows-x64_bin.zip" -O "build\jdk.zip"
      displayName: 'Download JDK'
    - task: JavaToolInstaller@0
      inputs:
        jdkSourceOption: localDirectory
        jdkFile: 'build/jdk.zip'
        jdkDestinationDirectory: 'build/jdkinst'
        jdkArchitectureOption: x64
    - task: Gradle@2
      inputs:
        workingDirectory: ''
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx3072m'
        publishJUnitResults: false
        testResultsFiles: '**/TEST-*.xml'
        tasks: 'generateInstallers'
        options: '-Pwindows32'

    # - task: CopyFiles@2
    #   inputs:
    #     contents: 'app\build\**\*.jar'
    #     targetFolder: $(Build.ArtifactStagingDirectory)

    # - task: PublishBuildArtifacts@1
    #   inputs:
    #     artifactName: 'Win64Jar'

 - job: Windows_64_Bit
   pool:
    vmImage: 'vs2017-win2016'

   steps:
    - powershell: |
        mkdir build
        $ProgressPreference = 'SilentlyContinue'
        wget "https://download.java.net/java/ga/jdk11/openjdk-11_windows-x64_bin.zip" -O "build\jdk.zip"
      displayName: 'Download JDK'
    - task: JavaToolInstaller@0
      inputs:
        jdkSourceOption: localDirectory
        jdkFile: 'build/jdk.zip'
        jdkDestinationDirectory: 'build/jdkinst'
        jdkArchitectureOption: x64
    - task: Gradle@2
      inputs:
        workingDirectory: ''
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx3072m'
        publishJUnitResults: false
        testResultsFiles: '**/TEST-*.xml'
        tasks: 'generateInstallers'

    # - task: CopyFiles@2
    #   inputs:
    #     contents: 'app\build\**\*.jar'
    #     targetFolder: $(Build.ArtifactStagingDirectory)

    # - task: PublishBuildArtifacts@1
    #   inputs:
    #     artifactName: 'Win64Jar'

 - job: Mac
   pool:
    vmImage: 'vs2017-win2016'

   steps:
    - powershell: |
        mkdir build
        $ProgressPreference = 'SilentlyContinue'
        wget "https://download.java.net/java/ga/jdk11/openjdk-11_windows-x64_bin.zip" -O "build\jdk.zip"
      displayName: 'Download JDK'
    - task: JavaToolInstaller@0
      inputs:
        jdkSourceOption: localDirectory
        jdkFile: 'build/jdk.zip'
        jdkDestinationDirectory: 'build/jdkinst'
        jdkArchitectureOption: x64
    - task: Gradle@2
      inputs:
        workingDirectory: ''
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx3072m'
        publishJUnitResults: false
        testResultsFiles: '**/TEST-*.xml'
        tasks: 'generateInstallers'
        options: '-PmacBuild'

    # - task: CopyFiles@2
    #   inputs:
    #     contents: 'app\build\**\*.jar'
    #     targetFolder: $(Build.ArtifactStagingDirectory)

    # - task: PublishBuildArtifacts@1
    #   inputs:
    #     artifactName: 'Win64Jar'

 - job: Linux
   pool:
    vmImage: 'vs2017-win2016'

   steps:
    - powershell: |
        mkdir build
        $ProgressPreference = 'SilentlyContinue'
        wget "https://download.java.net/java/ga/jdk11/openjdk-11_windows-x64_bin.zip" -O "build\jdk.zip"
      displayName: 'Download JDK'
    - task: JavaToolInstaller@0
      inputs:
        jdkSourceOption: localDirectory
        jdkFile: 'build/jdk.zip'
        jdkDestinationDirectory: 'build/jdkinst'
        jdkArchitectureOption: x64
    - task: Gradle@2
      inputs:
        workingDirectory: ''
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx3072m'
        publishJUnitResults: false
        testResultsFiles: '**/TEST-*.xml'
        tasks: 'generateInstallers'
        options: '-PmacBuild'

    # - task: CopyFiles@2
    #   inputs:
    #     contents: 'app\build\**\*.jar'
    #     targetFolder: $(Build.ArtifactStagingDirectory)

    # - task: PublishBuildArtifacts@1
    #   inputs:
    #     artifactName: 'Win64Jar'
